/**ASIGNATURAS**/

h3{

    font-size: 45px;
    color: $color5;

    p{
        margin: 10px 20px;
        color: $color3;
        font-size: medium;
        font-style: italic;

    }
}
.asignaturas{

    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
         

    .asignaturas_mat{

        padding: 5px 5px;
        margin: 20px 20px 20px 20px;
        text-align: center;
        background: rgb(53,195,34);
        background: linear-gradient(0deg, rgba(53,195,34,0.9948354341736695) 3%, rgba(253,187,45,1) 100%);
      
        -webkit-animation: swirl-in-fwd 0.6s ease-out both;
            animation: swirl-in-fwd 0.6s ease-out both;
        

    

        h4{
            color: $color4;
            font-size: larger;
            font-style: italic;
            background-color: rgb(214, 214, 159);
        }

        img{
            &.mate{
                height: 200px;
                width: 230px;
            }
            
        
            
        }

        .selectasignatura{


            position: absolute;  
            margin-left: -170px;
            margin-top: 150px;
            background-color: rgba(192, 189, 9, 0.897);
            height: 40px;
            width: 90px;
            border-radius: 3mm;


            .select_asignatura{

              color: $color3; 
              text-decoration: none;
              font-size: medium;
             

            }

           

           

        }

    }   

@for $item from 1 through 8{

    .asignaturas_mat:nth-child(#{$item}) {
        animation-delay: $item*0.2s;}

}

    



}

@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
