/**CONTACTO**/



.content{

    height: 850px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-right: 10px;
}
h3{  
    font-size: 45px;
    color: $color5;
    
    &.title_3{
        text-align: center;
        margin-top: 20px;

    }
}


.form_contacto{

    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
  


}

.form-control{

    font-size: 2opx;
    color:$color4;
    background-color: rgb(182, 146, 146, 0.411);
    border:$border1;
    
}     

#inputGroupPrepend2{

    font-size: 20px;
    color:$color4;
    background-color:transparent;
    border:$border1;

}

#validationDefault04{

    font-size: 20px;
    color:$color4;
    background-color: rgba(182, 146, 146, 0.411);
    border:$border1;


}

.btn_enviar{

    background-color: rgba(182, 146, 146, 0.411);
    padding: 10px;
    color: $color5;
    position: relative;
    border: none;
    border-radius: 3mm;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 60%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;

    
}