.container{

    width: 100%;
    margin-top: 5%;

    section.inicio{

        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 20px;
        margin-right: 10px;
        display: flex;
        
    

        .presentacion{


            display: block;
            


            img{

                &.img_index{
    
                                  
                    display: flex;
                    margin-left: 20px;
                    margin-right: 20px;
                    animation-name: aparecer;
                    animation-duration: 2s;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                    opacity: 0%;
                }
    
                @keyframes aparecer{
    
                    0%{
                        opacity: 0;
                    }
                
                    100%{
                        opacity: 1;
                    }
                }
             
    
            }

            
                       

            .contenido{

                display: block;
                justify-content: flex-end;

               

                h2{
                    &.presentacion_title{
                        font-size: 45px;
                        color: $color5;
                        text-align: center;
                    }
                
                
                }
            
                P{
                    &.presentacion_descrip{
                        margin-top: 30px;
                        margin-left: 30px;
                        text-align: justify;
                    }
                }    


            }
        
        }

 
      
        
        
        
    }
    
} 
    





