@media screen and (max-width: 1250px){
    .header{
       
        .navbar-brand{

            margin-left: 1%;

            .logo{
            
             margin-left: 2px;
                
            }
        
        }
    }

    .presentacion{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media  screen and (max-width:1030px){
    
   

   
    #fondo {
        margin-right: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
                ".   texto";
              
        }
    
    div.taller_img{
    
        display: flex;
    }    

}
@media  screen and (max-width: 799px){

    #navbarNav.collapse.navbar-collapse{

    
        .nav-item{

            display: inline-block;
            align-items:start ;
            justify-content:flex-start ;
        
            .nav-link{
                padding-top: 0px;
                padding-bottom: 0px;
                margin-left: 2px;
                font-size: 20px;
                
            }
        }
             

    }

        
    .conteiner{

        .presentacion img.img_index{
    
            width: -webkit-fill-available;
        }

        h3{
            font-size: 35px;
        }

        .asignaturas, .mat{

            margin-left: 0%;
            margin-right: 0%;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        #fondo{

            height: 0%;
            border-radius: 3mm;
            display: flex;
            margin: auto;
            

            .taller_texto{

                display:block ;
            }

            .taller_title{

                font-size: 15px;
            }

            .taller_texto p{

                font-size: 15px;
                text-align: justify;
                padding: 3px;
            }
        } 
       
    }

    .plan_card{
        
        display: inline-block;
        justify-content: center;

        .plan_cards{

            display: inline-block; 
            margin-bottom: 15px;
        }
        
    }

}

   
@media screen and (max-width: 590px) {

    .corousel-item.active{

        width: 100vh;
        display: inline;
        position: relative;
    }


    div#carouselExampleCaptions{

        margin: 0%;

    }

    .volver{

        left: 80%;  
        top: -50px;
        font-size: 20px;  
    }
    .icon{

        width: 45px;
        height: 45px;
    }

    .mayed_link{

        font-size: 15px;
    }
}
