/**TALLERES**/

div{
    &.taller.img{
        display: flex;
    }  
     
     
    #fondo {
        margin-left: 40px;
        margin-top: 20px;
        width: 95%;
        height: 650px;
        border-radius: 10mm;
        background-image: url(./fondo2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
               ".   texto";
    }

    .taller_texto{
        grid-area: texto;
        border-radius: 10mm;
        background-color: rgb(231 231 122 / 30%);
        opacity: 60%;

        &p{
            font-size: 18px;
            font-style: italic;
            color: $color3;
        }
             
    }

    .taller_title{

        display: flex;
        justify-content: center;
        padding: 5px;
        font-size: 24px;
        background-color: transparent;
    
    }
 
}



