/**TUTORES**/

.textotutores{

    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}



div#carouselExampleCaptions{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;


    .carousel-indicators{


        display: flex;
        justify-content: center;
        align-items: center;
       
       
        
        &.active{

           
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .carousel-inner{


        position: relative;
        margin-left: 15%;
        background-color: rgba(242, 242, 245, 0.267);
        border-radius: 5mm;

        img.d-block.w-100{
    

            border-radius: 50%;
        }
        
        div.carousel-caption{
        
            background-color: rgba(145, 145, 151, 0.267);
            color: color1;
            border-radius: 10mm;
            position: relative;
            right: 0%;
            left: 15%;
            margin-top: 20px;
            width: 70%;

            h5{

                font-size: 28px;
            }
            
            p{
            
                font-size: 18px;
            }
        
        }   
    }

}

.carousel-control-next{

    position: relative;
}
