/**TUTORES**/

.carousel-inner{

    width: 60%;
    position: relative;
    margin-left: 20%;
    background-color: rgba(242, 242, 245, 0.267);
    border-radius: 5mm;
}

div#carouselExampleCaptions{

    display: flex;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 20%;


}

.carousel-indicators{

    
    justify-content: center;
    position: absolute;
}

.carousel-indicators.active{

    position: relative;
    left: 0%;
    display: flex;
    justify-content: center;

}

img{
    &.d-block{

       &.w-100{
            border-radius: 50%;
       }
    }
}

div{
    &.carousel-caption{

    background-color: rgba(242, 242, 245, 0.267);    
    color: white;
    border-radius: 10mm;
    position: relative;
    right: 0%;
    left: 15%;
    margin-top: 20px;
    width: 70%;
    }
}   

h5{

    font-size: 28px;
}

p{

    font-size: 18px;
}

button.active{

    color: black;
}

.carousel-control-next{

    position: relative;
}

/**.card_card{

    width: 50%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}   

div.card{


    width: 330px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background: linear-gradient(60deg, rgba(53,195,34,0.9948354341736695) 3%, rgba(253,187,45,1) 100%);
    display: inline-block;


   

}

img.card_prof{

    width: 240PX;
    height: 200PX;
    display: inline-block;
    align-content: center;
    margin-top: 5px;
    margin-left: 45px;
    
    
}

h5.card_name{

    color:rgb(167, 32, 32);
    font-size: 20px;
    padding: 40%;
    display: inline;
    align-items: center;
    
}
p.card_descrip{

    font-size: 18px;
    font-style: italic;
    text-align: justify;
}**/